#landingpage h2.hdl2 {
  font-size: 50px;
  line-height: 62.5px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
#landingpage h3.hdl3 {
  font-size: 30px;
  line-height: 37.5px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #212121;
}
#landingpage h4.hdl4, #landingpage span.hdl4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
#landingpage h5.hdl5, #landingpage li.hdl5, #landingpage span.hdl5 {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
#landingpage p.textM {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
#landingpage p.textS, #landingpage li.textS, #landingpage a.textS {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
#landingpage p.textXS, #landingpage li.textXS {
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1035px) {
  .mobile #landingpage h2.hdl2,
  .mobileapp #landingpage h2.hdl2 {
    font-size: 30px;
    line-height: 37.5px;
    font-weight: 700;
  }
  .mobile #landingpage h3.hdl3,
  .mobileapp #landingpage h3.hdl3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  .mobile #landingpage p.textM,
  .mobileapp #landingpage p.textM {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}
.category-description {
  padding: 0 !important;
}

#landingpage {
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #212121;
}
#landingpage *, #landingpage *::before, #landingpage *::after {
  box-sizing: border-box;
}
#landingpage h1, #landingpage h2, #landingpage h3, #landingpage h4, #landingpage p, #landingpage ul, #landingpage ol, #landingpage li, #landingpage figure {
  margin: 0;
  padding: 0;
}
#landingpage input, #landingpage button, #landingpage textarea, #landingpage select {
  font: inherit;
}
#landingpage .hidden {
  display: none !important;
}
#landingpage.blank p {
  margin-top: 0;
}
#landingpage a {
  transition: all 300ms ease-in-out;
}
#landingpage img {
  display: block;
  height: auto;
  max-width: 100%;
  aspect-ratio: attr(width), attr(height);
}

#layout_switch {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 100;
  width: 180px;
  height: 70px;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.3);
  border-radius: 5px;
}
#layout_switch button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 45px;
  height: 45px;
  margin: 5px;
  cursor: pointer;
  border: none;
}
#layout_switch button .icon {
  width: 30px;
  height: 30px;
  fill: #737373;
}
#layout_switch button.active {
  box-shadow: inset 0px 2px 4px 0px rgba(128, 128, 128, 0.7);
}

#landingpage {
  max-width: 1310px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: #FFFFFF;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#testLayout.layout-1 #articlePage #landingpage {
  width: 1310px;
}

#testLayout.layout-0 #articlePage #landingpage {
  width: 1035px;
}

.mobile #articlePage #landingpage,
.lp-container {
  max-width: 100%;
}

#landingpage {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
#landingpage .is-visible {
  transform: scaleY(1) !important;
  max-height: 422px !important;
  opacity: 1 !important;
}
#landingpage .lp-header {
  padding-top: 96px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  background: linear-gradient(to bottom, #ffffff 50%, #f8f8f8 100%);
  position: relative;
}
#landingpage .lp-header__caption {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 5;
}
#landingpage .lp-header__caption p {
  margin-top: 0;
}
#landingpage .lp-header__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin-left: 32px;
}
#landingpage .lp-header__list li {
  position: relative;
}
#landingpage .lp-header__list li::before {
  background-image: url("https://i.alza.cz/Foto/or/lp/pojisteni-schopnosti-splacet/img/marker.svg");
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#landingpage .lp-header__backdrop {
  position: absolute;
  top: 0;
  right: -1px;
  width: 35%;
}
#landingpage .lp-case {
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: #f8f8f8;
}
#landingpage .lp-case__caption {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#landingpage .lp-case__caption p {
  width: 70%;
  margin-top: 0;
}
#landingpage .lp-case__box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 64px;
  overflow: hidden;
}
#landingpage .lp-case__box .icon {
  width: 64px;
  height: 64px;
}
#landingpage .lp-case__box a {
  transition: all 300ms ease-in-out;
}
#landingpage .lp-case__box a:hover {
  color: #00275b;
}
#landingpage .lp-case__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#landingpage .lp-case__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 124px;
}
#landingpage .lp-case__unit h4.hdl4 {
  text-align: center;
  color: #212121;
}
#landingpage .lp-case__toggle__content {
  margin-top: 40px;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
  opacity: 0;
}
#landingpage .lp-case__toggle__content a {
  color: #0094e7;
  transition: all 300ms ease-in-out;
}
#landingpage .lp-case__toggle__content a:hover {
  color: #00275b;
}
#landingpage .lp-case__toggle__content p.lp-case__conditions {
  margin-top: 40px;
}
#landingpage .lp-case__toggle__button {
  margin: auto;
  color: #a4a4a4;
  display: block;
  width: 102px;
  text-align: center;
  cursor: pointer;
}
#landingpage .lp-case__table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2px 4px 0 0;
}
#landingpage .lp-case__table ul {
  list-style-type: none;
}
#landingpage .lp-case__legend {
  text-align: right;
  margin-top: 74px;
}
#landingpage .lp-case__legend__cell:nth-of-type(odd) {
  background-color: #f8f8f8;
}
#landingpage .lp-case__legend__cell:nth-of-type(1) {
  height: 59px;
  padding: 21px 20px;
}
#landingpage .lp-case__legend__cell:nth-of-type(2) {
  height: 78.5px;
  padding: 21px 20px;
}
#landingpage .lp-case__legend__cell:nth-of-type(3) {
  height: 117.5px;
  padding: 38px 20px;
}
#landingpage .lp-case__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
#landingpage .lp-case__column {
  text-align: center;
  flex: 1 1 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
#landingpage .lp-case__column:nth-of-type(-n+2) .lp-case__column__cell:last-of-type {
  padding: 20px;
}
#landingpage .lp-case__column:last-of-type {
  flex-basis: 4%;
}
#landingpage .lp-case__column:last-of-type .lp-case__column__cell:last-of-type {
  padding-top: 88px;
}
#landingpage .lp-case__column__cell {
  padding: 10px 20px;
}
#landingpage .lp-case__column__cell:nth-of-type(even) {
  background-color: #f8f8f8;
}
#landingpage .lp-case__column__cell:first-of-type {
  padding: 20px 20px 15px 20px;
}
#landingpage .lp-case__column__cell:last-of-type {
  margin-bottom: 32px;
}
#landingpage .lp-case__conditions {
  text-align: center;
}
#landingpage .lp-purchase {
  padding-top: 80px;
  padding-right: 122px;
  padding-bottom: 60px;
  padding-left: 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
}
#landingpage .lp-purchase__caption {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#landingpage .lp-purchase__caption p {
  width: 90%;
  margin-top: 0;
}
#landingpage .lp-purchase__caption a {
  color: #0094e7;
  transition: all 300ms ease-in-out;
}
#landingpage .lp-purchase__caption a:hover {
  color: #00275b;
}
#landingpage .lp-purchase__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 24px;
}
#landingpage .lp-purchase__icons .icon {
  width: 64px;
  height: 64px;
}
#landingpage .lp-purchase__unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 1 0;
}
#landingpage .lp-purchase__unit h4.hdl4, #landingpage .lp-purchase__unit p {
  text-align: center;
  margin-top: 0;
  color: #212121;
}
#landingpage .lp-purchase__unit a {
  color: #212121;
  text-decoration: none;
}
#landingpage .lp-purchase__screen {
  border-radius: 4px;
  z-index: 10;
}
#landingpage .lp-purchase__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  z-index: 1;
}
#landingpage .lp-faq {
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background-color: #f8f8f8;
}
#landingpage .lp-faq__caption {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#landingpage .lp-faq__caption p {
  margin-top: 0;
}
#landingpage .lp-faq__units {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
#landingpage .lp-faq__box {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 16px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
#landingpage .lp-faq__box:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
#landingpage .lp-faq__box--handle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  color: #0094e7;
}
#landingpage .lp-faq__box--handle h4.hdl4 {
  color: #0094e7;
}
#landingpage .lp-faq__box--content {
  padding: 0 36px;
  max-height: 0;
  overflow: hidden;
  will-change: max-height;
  transition: all 300ms ease-in-out;
  opacity: 0;
}
#landingpage .lp-faq__box--content p {
  margin-top: 0;
}
#landingpage .lp-faq__box--active .lp-faq__box--content {
  padding: 8px 36px 20px;
  opacity: 1;
}
#landingpage .lp-faq__box--active .lp-faq__box__icon {
  transform: rotate(0deg);
}
#landingpage .lp-faq__box__icon {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  transition: all 300ms ease-in-out;
}
#landingpage .lp-faq a {
  color: #a4a4a4;
  transition: all 300ms ease-in-out;
}
#landingpage .lp-faq a:hover {
  color: #00275b;
}

.layout-0 #landingpage .is-visible {
  max-height: 506px !important;
}
.layout-0 #landingpage .lp-case__box {
  padding: 48px;
}
.layout-0 #landingpage .lp-case__legend {
  margin-top: 59px;
}
.layout-0 #landingpage .lp-case__legend__cell:nth-of-type(1) {
  height: 98.5px;
  padding: 40px 20px;
}
.layout-0 #landingpage .lp-case__legend__cell:nth-of-type(3) {
  height: 175.5px;
  padding: 66px 20px;
}
.layout-0 #landingpage .lp-case__boxes {
  gap: 10px;
}
.layout-0 #landingpage .lp-case__column:last-of-type {
  flex-basis: 2%;
}
.layout-0 #landingpage .lp-case__column:last-of-type .lp-case__column__cell:last-of-type {
  padding-top: 100px;
}
.layout-0 #landingpage .lp-case__column:nth-of-type(2) .lp-case__column__cell:nth-of-type(2), .layout-0 #landingpage .lp-case__column:nth-of-type(4) .lp-case__column__cell:nth-of-type(2) {
  padding: 30px 10px;
}
.layout-0 #landingpage .lp-case__column:nth-of-type(1) .lp-case__column__cell:last-of-type, .layout-0 #landingpage .lp-case__column:nth-of-type(2) .lp-case__column__cell:last-of-type {
  padding: 39px 10px;
}
.layout-0 #landingpage .lp-case__column__cell {
  padding: 10px;
}
.layout-0 #landingpage .lp-case__column__cell:nth-of-type(2), .layout-0 #landingpage .lp-case__column__cell:nth-of-type(4) {
  padding: 20px 10px;
}

@media only screen and (max-width: 1035px) {
  .mobile #landingpage .is-visible,
  .mobileapp #landingpage .is-visible {
    max-height: 506px !important;
  }
  .mobile #landingpage .lp-case__toggle__content,
  .mobileapp #landingpage .lp-case__toggle__content {
    overflow-x: visible;
    position: relative;
    margin-top: 20px;
  }
  .mobile #landingpage .lp-case__table,
  .mobileapp #landingpage .lp-case__table {
    width: 1018px;
    overflow-x: scroll;
    padding: 2px 4px 32px 0;
    margin-top: 96px;
  }
  .mobile #landingpage .lp-case__conditions,
  .mobileapp #landingpage .lp-case__conditions {
    margin-bottom: 40px;
    position: sticky;
    bottom: 100%;
    left: 0;
  }
  .mobile #landingpage .lp-case__icons,
  .mobileapp #landingpage .lp-case__icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .mobile #landingpage .lp-case__unit,
  .mobileapp #landingpage .lp-case__unit {
    gap: 8px;
  }
}
@media only screen and (max-width: 826px) {
  .mobile #landingpage .lp-header,
  .mobileapp #landingpage .lp-header {
    padding-top: 48px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .mobile #landingpage .lp-header__caption h2, .mobile #landingpage .lp-header__caption p,
  .mobileapp #landingpage .lp-header__caption h2,
  .mobileapp #landingpage .lp-header__caption p {
    text-align: center;
  }
  .mobile #landingpage .lp-case,
  .mobileapp #landingpage .lp-case {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .mobile #landingpage .lp-case__caption p,
  .mobileapp #landingpage .lp-case__caption p {
    width: 100%;
  }
  .mobile #landingpage .lp-case__icons,
  .mobileapp #landingpage .lp-case__icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .mobile #landingpage .lp-case__box,
  .mobileapp #landingpage .lp-case__box {
    padding: 48px;
  }
  .mobile #landingpage .lp-purchase,
  .mobileapp #landingpage .lp-purchase {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .mobile #landingpage .lp-purchase__caption p,
  .mobileapp #landingpage .lp-purchase__caption p {
    width: 100%;
  }
  .mobile #landingpage .lp-faq,
  .mobileapp #landingpage .lp-faq {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .mobile #landingpage .lp-faq__caption p,
  .mobileapp #landingpage .lp-faq__caption p {
    width: 100%;
  }
  .mobile #landingpage .lp-faq__box--handle h4,
  .mobileapp #landingpage .lp-faq__box--handle h4 {
    flex: 1 1 0;
  }
  .mobile #landingpage .lp-faq__box__icon,
  .mobileapp #landingpage .lp-faq__box__icon {
    width: 12px;
  }
  .mobile #landingpage .lp-faq__box--content,
  .mobileapp #landingpage .lp-faq__box--content {
    padding: 0 28px;
  }
  .mobile #landingpage .lp-faq__box--active .lp-faq__box--content,
  .mobileapp #landingpage .lp-faq__box--active .lp-faq__box--content {
    padding: 8px 28px 20px;
  }
}
@media only screen and (max-width: 622px) {
  .mobile #landingpage .lp-case__table,
  .mobileapp #landingpage .lp-case__table {
    margin-top: 106px;
  }
  .mobile #landingpage .lp-purchase__icons,
  .mobileapp #landingpage .lp-purchase__icons {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .mobile #landingpage .lp-purchase__unit,
  .mobileapp #landingpage .lp-purchase__unit {
    max-width: 350px;
    gap: 8px;
  }
}
@media only screen and (max-width: 430px) {
  .mobile #landingpage .is-visible,
  .mobileapp #landingpage .is-visible {
    max-height: 536px !important;
  }
  .mobile #landingpage .lp-case__table,
  .mobileapp #landingpage .lp-case__table {
    margin-top: 126px;
  }
}
@media only screen and (max-width: 355px) {
  .mobile #landingpage .is-visible,
  .mobileapp #landingpage .is-visible {
    max-height: 556px !important;
  }
  .mobile #landingpage .lp-case__table,
  .mobileapp #landingpage .lp-case__table {
    margin-top: 156px;
  }
}